<%- include("../partials/header") %>
    <!-- Log in form section -->
    <!-- Alert message container -->
    <div class="alert-container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <section class="log-in">
        <article class="log-in-form">
            <figure class="logo-container">
                <img class="login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure>
            
            <div class="form-group">
                <button class="landing-btn"><a href="/login">Login</a></button>
            </div>
        </form>  
    </section>
<%- include("../partials/footer") %>