<nav class="navbar">
    <div class="navbrand">
        <figure class="nav-logo-container">
            <img class="nav-logo" src="/img/logo-small.jpg" alt="Logo">
        </figure>
    </div>
    <div class="nav">
        <ul class="nav-links">
            <li class="nav-item">
                <a class="nav-link" href="/register">New User</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>