<%- include("partials/header") %>
    <!-- Log in form section -->
    <section class="log-in">
        <article class="log-in-form">
            <figure class="logo-container">
                <img class="login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure>
            
            <div class="form-group">
                <button class="submit-btn form-control"><a href="/login">Login</a></button>
            </div>
        </form>  
    </section>
<%- include("partials/footer") %>