<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <!-- Log in form section -->
    <section class="new-customer">
        <form class="new-customer-form" id="form" action="/customers" method="POST">
            <figure class="logo-container">
                <img class="login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure>
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" class="customer-form">
            </div>
            <div class="form-group">
                <div class="phone-group">
                    <label for="code">Country Code:</label>
                    <input type="number" id="code" name="code" class="customer-form form-code">
                </div>
                <div class="phone-group">
                    <label class="phone-label" for="phone">Phone Number:</label>
                    <input type="number" id="phone" name="phone" class="customer-form form-phone">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" class="customer-form">
            </div> -->
            <div class="form-group">
                <label for="address">Home Address:</label>
                <input type="text" id="address" name="address" class="customer-form">
            </div>
            <div class="form-group">
                <label for="oven">Oven Type:</label>
                <input type="text" id="oven" name="oven" class="customer-form">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" class="customer-form">
            </div>
            <div class="form-group">
                <label for="time">Time of booking:</label>
                <input type="time" id="time" name="time" class="customer-form">
            </div>
            <div class="form-group">
                <label for="date">Date of booking:</label>
                <input type="date" id="date" name="date" class="customer-form">
            </div>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" class="customer-form notes"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="add-cust-btn">
                <button class="back-btn"><a href="/customers">Home</a></button>
            </div>
        </form>  
    </section>

<%- include("partials/footer") %>