<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section class="customer-card">
    <article class="c-name">
        <p>Name: Test Testison</p>
    </article>

    <article class="c-name">
        <p>Telephone: Test 09876 987 899</p>
    </article>

    <article class="c-name">
        <p>Email: test_testison@test.com</p>
    </article>

    <article class="c-name">
        <p>Address: Somewhere in Sutton</p>
    </article>

    <article class="c-name">
        <p>Oven Type: A hot one</p>
    </article>

    <article class="c-name">
        <p>Date added: 03/08/20</p>
    </article>

    <article class="c-name">
        <p>Date of reminder: 03/02/21</p>
    </article>

    <article class="c-name">
        <p>Notes: Test Testison</p>
    </article>

    <button class="edit-btn">Edit Record</button>
</section>

<%- include("partials/footer") %>