<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
    <!-- menu section -->
    <section class="menu">
        <div class="menu-form">
            <!-- <figure class="menu-logo-container">
                <img class="menu-login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure> -->
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/bookings">Diary</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/bookings/new">Add Booking</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/reminders">Reminders</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/customers">Customer Database</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/customers/new">Register Customer</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/menu/search">Search</a>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <a class="submit-btn" href="/archives">Archived Bookings</a>
            </div>
        </div>  
    </section>
<%- include("../partials/footer") %>