<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
    <!-- menu section -->
    <section class="menu">
        <div class="menu-form">
            <!-- <figure class="menu-logo-container">
                <img class="menu-login-logo" src="/img/logo-small.jpg" alt="Logo">
            </figure> -->
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/bookings">Diary</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/bookings/new">Add Booking</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/reminders">Reminders</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/customers">Customer Database</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/customers/new">Register Customer</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/menu/search">Search</a></button>
            </div>
            <div class="form-group">
                <!-- <label for="user">Username:</label> -->
                <button class="submit-btn"><a href="/archives">Archived Bookings</a></button>
            </div>
        </div>  
    </section>
<%- include("../partials/footer") %>