<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
    <!-- Log in form section -->
    <section class="menu">
        <div class="menu-form">
            <div class="form-group">
                <a class="submit-btn" href="/bookings/search">Search Bookings</a>
            </div>
            <div class="form-group">
                <a class="submit-btn" href="/customers/search">Search Customers</a>
            </div>
            <div class="form-group">
                <a class="submit-btn" href="/menu">Main Menu</a>
            </div>
        </div>  
    </section>
<%- include("../partials/footer") %>