<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
    <!-- Log in form section -->
    <section class="menu">
        <div class="menu-form">
            <div class="form-group">
                <button class="submit-btn"><a href="/bookings/search">Search Bookings</a></button>
            </div>
            <div class="form-group">
                <button class="submit-btn"><a href="/customers/search">Search Customers</a></button>
            </div>
            <div class="form-group">
                <button class="submit-btn"><a href="/menu">Main Menu</a></button>
            </div>
        </div>  
    </section>
<%- include("../partials/footer") %>